{% extends 'base2.html' %}
{% block title %} Додати питання {% endblock %}
{% block css %}
<style>
body{
    background:#EFFBEF;
}


 .head1 {
    color: #49dd24;
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
  }

  .head2 {
    color: #49dd24;
    font-size: 2rem;
    font-weight: bold;
  }
  .logo {
    position: relative;
    bottom: 2rem;
  }

   .container-fluid {
    height: 60px;
    border: 0.1px solid #49dd24;
  }

  .form-control{
               margin-left: 32%;
               width: 500px;
               margin-top: 20px;
  }
   .p-control{
               margin-left: 32%;
               width: 500px;
               margin-top: 1px;

  }
  #sub{
               margin-left: 32%;
               width: 500px;
               margin-top: 20px;
               }
<!--   #btn {-->
<!--    border: 5px solid;-->
<!--    border-image-slice: 1;-->
<!--    background: var(&#45;&#45;gradient) !important;-->
<!--    -webkit-background-clip: text !important;-->
<!--    -webkit-text-fill-color: transparent !important;-->
<!--    border-image-source: var(&#45;&#45;gradient) !important;-->
<!--    text-decoration: none;-->
<!--    position: relative;-->
<!--    left: 80px;-->
<!--  }-->
<!--  .attempt {-->
<!--    &#45;&#45;gradient: linear-gradient(to left top, #49dd24 10%, #aaaaaa 90%) !important;-->
<!--  }-->
</style>
{% endblock %}
{% load static %}
{% block body %}
<div class="container mt-4">

  <form action="" method="POST"> {% csrf_token %}
<!--    {{ form.as_p }}-->
<!--    <p>Введіть назву завдання</p>-->
    {{ form.content }}<br>
    <p class="p-control">Оберіть вікторину</p>
    {{ form.quiz }}<br>
    <button id="sub" type="submit" class="btn btn-success">Додати</button>
  </form>
  <br>
   <form action="{% url 'search_results' %}" method="get">
     <input class="form-control" name="q" type="text" placeholder="Для пошуку введіть назву вікторини">
       <br>
        <br>
</form>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Питання</th>
        <th>Вікторина</th>
        <th>Видалити</th>
      </tr>
    </thead>
    {% for question in questions %}
    <tr>
      <td><a href="{% url 'add_options' question.id %}">{{question.content}}</a></td>
      <td>{{question.quiz}}</td>
      <td><a href="{% url 'delete_question' question.id %}" class="btn btn-danger">Видалити</a></td>

<!--      <td><a href="/delete_question/{{question.id}}/" class="btn btn-danger">Delete</a></td>-->
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}