{% extends 'base2.html' %}
{% block title %} Пошук {% endblock %}
{% block css %}
<style>
body{
    background:#EFFBEF;
}


 .head1 {
    color: #49dd24;
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
  }

  .head2 {
    color: #49dd24;
    font-size: 2rem;
    font-weight: bold;
  }
  .logo {
    position: relative;
    bottom: 2rem;
  }

   .container-fluid {
    height: 60px;
    border: 0.1px solid #49dd24;
  }

  .form-control{
               margin-left: 32%;
               width: 500px;
               margin-top: 20px;
  }
   .p-control{
               margin-left: 32%;
               width: 500px;
               margin-top: 1px;

  }
  #sub{
               margin-left: 32%;
               width: 500px;
               margin-top: 20px;
               }
<!--   #btn {-->
<!--    border: 5px solid;-->
<!--    border-image-slice: 1;-->
<!--    background: var(&#45;&#45;gradient) !important;-->
<!--    -webkit-background-clip: text !important;-->
<!--    -webkit-text-fill-color: transparent !important;-->
<!--    border-image-source: var(&#45;&#45;gradient) !important;-->
<!--    text-decoration: none;-->
<!--    position: relative;-->
<!--    left: 80px;-->
<!--  }-->
<!--  .attempt {-->
<!--    &#45;&#45;gradient: linear-gradient(to left top, #49dd24 10%, #aaaaaa 90%) !important;-->
<!--  }-->
</style>
{% endblock %}
{% load static %}
{% block body %}
 <h1>Результат пошуку</h1>


<div class="container mt-4">
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Назва вікторини</th>
          <th>Редагувати</th>
        <th>Видалити</th>
      </tr>
    </thead>
      <ul>
  {% for quiz in object_list %}

</ul>
        {% for quiz in quiz %}
        {% endfor %}
    <tr>

      <td>{{quiz.name}}</td>
        <td><a href="{% url 'edit' quiz.id %}" class="btn btn-warning">Редагувати</a></td>
        <td><a href="{% url 'delete_quiz' quiz.id %}" class="btn btn-danger">Видалити</a></td>

    </tr>
        {% endfor %}
  </table>
</div>

{% endblock %}